
<ion-content [fullscreen]="true">
  <ion-header class="ion-no-border" translucent collapse="condense">
    <ion-toolbar translucent>
      <ion-buttons slot="start">
        <ion-icon name="apps"></ion-icon>
      </ion-buttons>
      <ion-title >Blank</ion-title>
      <ion-icon slot="end" name="ellipsis-vertical-outline"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Awesome Subtitle</ion-card-subtitle>
      <ion-card-title>Awesome Title</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
